<!DOCTYPE html>
<html lang="en">
    <head>
        <title>慧生活</title>
        <link rel="stylesheet" href="/static/css/bootstrap/css/bootstrap.css">
        <link rel="stylesheet" href="/static/css/ihuilife.css">
        <script type="text/javascript"src="http://lib.sinaapp.com/js/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript"src="/static/css/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript"src="/static/js/csrf.js"></script>
        <script type="text/javascript"src="/static/js/catfeeds/common.js"></script>
    </head>

