<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="span10 offset1">
                <div id="g-header" class="row">
                    <div class="span2">
                        <h1 class="g-logo" title="创意改变世界，智慧创造生活"><a title="慧生活" href="/">慧生活</a></h1>
                    </div>
                    <div class="span4">
                        <form action="/search/" method="get" class="navbar-form pull-left">
                            <input class="g-input h-searchbox" name="keyword" id="nav-keyword" value="" type="text">
                            <input class="g-button h-searchbutton" value="搜索" type="submit">
                            <input name="cat" value="1001" type="hidden">
                        </form>
                    </div>
                    <div class="span4">
                        <ul class="nav nav-pills">
                            <li>
                                <a href="/">首页</a>
                            </li>
                            <li>
                                <a href="/category/">物品分类</a>
                            </li>
                            <li>
                                <a href="/goods/">热门</a>
                            </li>
                            <li>
                                <a href="/auth/apply/">注册</a>
                            </li>
                            <li>
                                <a href="/auth/login/">登录</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>